<div class="message-form js-message-form">
  <textarea class="input input_message-form js-message-form--input" autofocus></textarea>
  <button class="button button_message-form js-message-form--submit">Send</button>
</div>
