<% p = k("components/message", message) %>

<div class="message">
  <div class="message--header">
    <span class="message--author">
      <%= p.author %>
    </span>
    <span class="message--time">
      <%= p.posted_at %>
    </span>
  </div>
  <div class="message--text">
    <%= p.text %>
  </div>
</div>
