.button {
  background: #3f94f9;
  border: 1px solid #3f94f9;
  color: white;
  font-size: 18px;
  outline: none;
  transition: opacity 150ms;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.7;
  }

  &_auth {
    width: 100%;
    margin-top: 6px;
    padding: 12px 0;
  }

  &_message-form {
    flex: 0 1 auto;
    height: 100%;
    padding: 12px 48px;
  }
}
